<!DOCTYPE html>
<html>
  <head>
    <title>Project1Ra01</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :style %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'header_footer', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'lightslider', 'data-turbolinks-track': 'reload' %>


    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></#script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  </head>

  <body>
  <div class="body_alert">
    <div class="alert_form">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <button>OK</button>
    </div>
  </div>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <script>
      $(document).ready(function(){
        if(($('.alert').text()) == ''){
          $('.notice').parent().hide();
        }else{
          $('.notice').parent().show();
          $('.alert_form button').focus();
        }
        $('.alert_form button').click(function(){
          $('.alert').text('');
          $('.notice').parent().hide();
        });
        $('.alert_form button').blur(function(){
          $('.alert').text('');
          $('.notice').parent().hide();
        });
      });
    </script>
  </body>

</html>
